# OS
.DS_Store
Thumbs.db

# Eclipse
/.project
/.jsjintrc
/.sublime-project
/.tern-project
/.settings/

# npm
/package-lock.json
/node_modules/

# Bower
/components/
/bower_components/

# Others
*.bak
/bin/
/test/
